header{
    background-color: #A80053;
}
main{
    background-color: #121212;   
}
footer{
    background-color: #262425;
    font-family: "Poiret One", sans-serif;
}
#one{
    color: aquamarine;
}
.q{
    color:beige
}
body{
    background-color: #510435;
}
.text{
    color: #E0E0E0;   
}
a{
    color: aquamarine;    
}
.backfoto{
    height: 300px;
    border: solid black;
    background: url(./pngtree-burning-blue-fire-illustration-png-image_7768763.png) ;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: 5% ;
}