header{
    background-color: #A80053;
}
main{
    background-color: #121212;   
}
footer{
    background-color: #262425;
}
#one{
    color: aquamarine;
}
.q{
    color:beige
}
body{
    background-color: #510435;
}
.text{
    color: #E0E0E0;   
}